<div class="container">
    <div class="text-center">
        <h1>Register</h1>
    </div>
    <p class="top-border-line"></p>
    <form action="/users/register" method="post">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username...">

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password...">

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password...">

        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email...">
        <br />

        <div class="text-center">
            <button type="submit" class="btn  btn-success " value="Register">Register</button>
        </div>

    </form>
</div>
