<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>

    <ul>
        <li><a href="/">Home</a>  </li>
        <li><a href="/users/login">Login</a>  </li>
        <li><a href="/users/register">Register</a>  </li>
    </ul>
    <hr />
    <h1>Register</h1>

    <form method="post" action="/users/register">

        <p>Username <input name="username" type="text" placeholder="Username" /></p>

        <p>Password <input name="password" type="password" placeholder="Password" /></p>

        <p>Confirm Password <input name="confirmpassword" type="password" placeholder="Confirm Password" /></p>

        <p><input type="submit" value="Register" /></p>
    </form>


    <footer>
        <p><strong>CopyRight© Sanity Design Studios. All rights reserved.</strong> </p>
    </footer>
</body>
</html>